body {
  background-color: #f8f9fa; /* Light Bootstrap-like background */
  color: #212529;
  font-family: 'Arial', sans-serif;
}

.navmed-primary {
  background-color: #87CEEB;
  color: white;
}

.navmed-secondary {
  background-color: #800000;
  color: white;
}

.navmed-secondary:hover {
  background-color: #5a0000;
  color: white;
}
